.beau-rivage-regular {
  font-family: "Beau Rivage", cursive;
  font-weight: 400;
  font-style: normal;
}
.unna-regular {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .unna-bold {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .unna-regular-italic {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .unna-bold-italic {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic;
  }
p,a{
    font-family: "Unna";
    font-size: x-large;
}  
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            
    
        }
        h1{
            font-family: "Beau Rivage", cursive;
            font-size: 50px;
        }
        .img1{
            position: fixed;
            top: 30%;
            left: 25%;
            width: 20%;
            height: 40%;
            background-image: url(/img/tienda.jpg);
            background-size: contain;
            border-radius: 100%;
        }
        .img1:hover{
            border-radius: 5px;
            border-color: black;
        }
        .img2:hover{
            border-radius: 5px;
            border-color: black;
        }
        .img2{
            position: fixed;
            top: 30%;
            left: 55%;
            width: 20%;
            height: 40%;
            background-image: url(/img/administrador.jpg);
            background-size: contain;
            border-radius: 100%;
        }
        .menu {
            position: fixed;
            top: 60%;
            left: 40%;
            display:inline-block;
            gap: 20px;
            margin-top: 50px;
            
        }
        .btn {
            top: 70%;
            padding: 15px 30px;
            font-size: 18px;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: white;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .tienda {
            position: fixed;
            right: 61%;
            color:black;
            text-decoration: none;
        }
        .tienda:hover{

            transform: scale(1.5);
            background-color: transparent;
        }

        .admin {
            position: fixed;
            right: 29%;
            color:black;
            text-decoration: none;
        }
        .admin:hover{

            transform: scale(1.5);
            background-color: transparent;
        }
        .status {
            position: fixed;
            top: 80%;
            left: 43%;
            margin-top: 30px;
            padding: 10px;
            border-radius: 5px;
        }



    
