
/*
codigo extra
*/
.beau-rivage-regular {
    font-family: "Beau Rivage", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .unna-regular {
      font-family: "Unna", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .unna-bold {
      font-family: "Unna", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .unna-regular-italic {
      font-family: "Unna", serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .unna-bold-italic {
      font-family: "Unna", serif;
      font-weight: 700;
      font-style: italic;
    }
 
.pb-5{
    background-image: url();
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
video{
    width: fit-content;
    height: fit-content;
}


.lista{
    
    position: absolute;
    top: 20%;
    left: 38%;
    width:fit-content;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: x-large;
}
.thumb-grid mb-3{
    border-radius: 100%;
}  
.agregar{
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 5px;
    border-radius: 10%;
    background-color: #45556C;
    color: white;
    font-family: "unna", italic;
    font-size: x-large;
}
.agregar:hover{
    border-color: #45556C;
    transform: scale(2);
}

li span{
    margin-right: 10px;
}

 .logo{
    width: 8%;
    height: 8%;
    padding-left: 20px;
    padding-top: 10px;
 }
 .logo2{
    width: 10%;
    height: 10%;
    padding-left: 0px;
 }

h1,.slogan {
    font-family: "Unna", italic;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 10%;
    color: black;


}

.container{
    min-width: 1920;
    margin: 0 auto;
}
.content{   
    background-color: white;
    min-height: 100px;

}
.menu{
    position: absolute;
    top:        0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .navbar ul li{
    position: relative;
    float: left;
    

}

.menu .navbar li a:hover{
    background-color: #45556C;
    padding-top: 32%;
    padding-bottom: 37%;
    color:white;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    color: black;
    display: block;
}

#menu{
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.modal{
    position: absolute;
    top: 15%;
    left: 35%;
    padding: 2%;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
border-color: #45556C;
}
.modal-content{
    align-items:center;
}

@media (max-width: 980px) {
    #slogan{
        position: absolute;
        right: 15%;
    }
    .menu-icono{
        position: absolute;
        right: 5%;
        margin-top: -2%;
    }

    
    li> a{
        text-align: center;
    }
    .content{
        min-height: 70px;
        
    }
    .menu{
        
        top:0;
        padding: 10px 20px 0 20px;
        padding-top: -20px;
    }
    .menu label{
        display: initial;
        
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
        
    }

    .menu .navbar li a:hover{
        background-color: var(--footer-color);
        color: white;
        

    }

    .menu .navbar ul li{
        width: 100%;

        
    }
    #menu:checked ~ .navbar{
       z-index: 1;
        display: initial;

    }}